.footer {
    background-color: #333;
    color: #fff;
    padding-top:40px;
    height: 200px;
    margin-top: 300px;
    margin-bottom: 0;
  }
  
 
  
  .footer a {
    color: #fff;
    text-decoration: none;
    padding-left: 100px;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  .list1{
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    padding-top: 40px;
  }

  /* .list2{
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
  } */
  .list3{
    list-style-type: none;
    margin: 0;
    padding-left: 600px;
    padding-top: 0px;
  }
p{
    padding-top: 5px;
    padding-left: 550px;
    color: #fff;

}