.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.footer-bottom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}