/* Navbar styles */
nav {
    background-color: #ffffff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1300px;
    padding-top: 10px;
    display: flex;
  }
  
  li {
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  a:hover {
    color: #555;
  }
  