<!DOCTYPE html>
<html>
<head>
    <title>CV Parser</title>
</head>
<body>
    <h1>CV Parser</h1>
    <form action="/parse-cv" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf,.doc,.docx">
        <input type="submit" value="Parse CV">
    </form>
    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: '/parse-cv',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#result').html('<pre>' + JSON.stringify(response, null, 2) + '</pre>');
                },
                error: function(error) {
                    $('#result').html('<p>Error: ' + error.responseJSON.error + '</p>');
                }
            });
        });
    </script>
</body>
</html>
