<!DOCTYPE html>
<html>
<head>
    <title>Resume Data</title>
</head>
<body>
    <h1>Resume Data</h1>
    <p>Name: {{ resume_data.name }}</p>
    <p>Email: {{ resume_data.email }}</p>
    <p>Contact Number: {{ resume_data.mobile_number }}</p>
    <p>Skills: {{ resume_data.skills }}</p>
    <p>Collage Name: {{ resume_data.college_name }}</p>
    <p>Degree: {{ resume_data.degree }}</p>
    <p>Designation: {{ resume_data.designation }}</p>
    <p>Experience: {{ resume_data.experience }}</p>
    <p>Total Experience: {{ resume_data.total_experience }}</p>
    <p>Company: {{ resume_data.company_names }}</p>
    <p>Number of Pages: {{ resume_data.no_of_pages }}</p>
</body>
</html>
